[submodule ".zsh/zsh-vcs-prompt"]
	path = .zsh/zsh-vcs-prompt
	url = https://github.com/yonchu/zsh-vcs-prompt
[submodule ".zsh/zaw"]
	path = .zsh/zaw
	url = https://github.com/zsh-users/zaw
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
